{% extends 'base.html' %}
{%load static%}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="{%static 'img/12.png'%}" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container">
<h2 class="text-center" style="padding-top: 10px; color: brown;"><u> About Us</u> </h2><br>
<div class="container-fluid py-6">
  <p> <b>A Sports clubs range from organisations whose members play together, unpaid, and may play other similar clubs on occasion, watched mostly by family and friends, to large commercial organisations with professional players which have teams which regularly compete against those of other clubs and attract sometimes very large crowds of paying spectators. Clubs may be dedicated to a single sport or to several (multi-sport club).</b>  </p><br><br>
  <h2> Reasons Why You Should Join our Sport Club : </h2>
  <p> 1. It’s a great way to meet new people and make lifelong friends Many of us move away from home to start university... </p> 
  <p> 2. It’s good for your wellbeing We are all supposed to do a minimum of 30 minutes of exercise a day and for good reason! </p>
  <p> 3. It’s a brilliant way to balance study If you’re getting frustrated with an assignment or having trouble studying for... </p>
  <p> 4. You can boost your CV with transferrable skills Participating on the field isn’t the only way you can... </p>
  <p> 5. Most importantly, it’s fun! </p>
  <h3>Organization : </h3>
  <p>Larger sports clubs are characterized by having professional and amateur departments in various sports such as bike polo, football, basketball, futsal, cricket, volleyball, handball, rink hockey, bowling, water polo, rugby, track and field athletics, boxing, baseball, cycling, tennis, rowing, gymnastics, and others, including less traditional sports such as airsoft, billiards, e-sports, orienteering, paintball, or roller derby. The teams and athletes belonging to a sports club may compete in several different leagues, championships and tournaments wearing the same club colors and using the same club name, sharing also the same club fan base, supporters and facilities. </p>
  <h3> Membership : </h3>
  <p>In the field of competitive club sports, an athlete will typically be registered to only one club for a given discipline and will compete for that club exclusively for the duration of a competition or season. Exceptions to this include player trades and transfers, athlete loan agreements and unattached trialists. Where an athlete competes in multiple disciplines, or where club membership has social or training aspects such as local athletic clubs, then athletes may register with multiple clubs.</p>
  <br>
  
 <h3>  <b> *<u> Motivation Quotes </u><b> </h3><br>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{%static 'img/9.png'%}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">“Not for summer. Not for my ex. Not to be the skinny friend. For me and my body.”</p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{%static 'img/10.png'%}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Before you worry about the beauty of your body, worry about the health of your body.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{%static 'img/11.png'%} " class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
              <div class="d-flex justify-content-between align-items-center">
                
            </div>
          </div>
        </div>
 </div>
    </div><hr>
 
    
{% endblock body %}