{% extends 'base.html' %}
{%load static%}
{% block title %}Club-Service{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="{%static "img/13.png"%} " class="d-block w-100 mx-0" alt="...">
</div>
<div class="container">
<h2 style="text-align: center; padding-top: 10px; color: brown;">Our Clubs</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="{%static 'img/14.png'%}" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">“Not for summer. Not for my ex. Not to be the skinny friend. For me and my body.”</p>
          <div class="d-flex justify-content-between align-items-center">
           
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="{%static 'img/15.png'%}" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Before you worry about the beauty of your body, worry about the health of your body.</p>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="{%static 'img/16.png'%} " class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
          <div class="d-flex justify-content-between align-items-center">
            
        </div>
      </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">
      <img src="{%static 'img/17.png'%} " class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
  </div>
</div>
<div class="col">
    <div class="card shadow-sm">
      <img src="{%static 'img/18.png'%} " class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
  </div>
</div>
<div class="col">
    <div class="card shadow-sm">
      <img src="{%static 'img/19.png'%} " class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
  </div>
</div>
<div class="col">
    <div class="card shadow-sm">
      <img src="{%static 'img/20.png'%} " class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
  </div>
</div>
<div class="col">
    <div class="card shadow-sm">
      <img src="{%static 'img/21.png'%} " class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
  </div>
</div>
<div class="col">
    <div class="card shadow-sm">
      <img src="{%static 'img/22.png'%} " class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text">“Some people want it to happen, some wish it would happen, others make it happen.”</p>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
  </div>
</div>
</div>
</div>
<hr>
  
{% endblock body %}