{% extends 'base.html' %}
{%load static%}
{% block title %}Location{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="{%static "img/7.png"%} " class="d-block w-100 mx-0" alt="...">
</div>
<h2 class="text-center"><u> LOCATION OF MY SPORT-CLUB </u></h2>
<div class="container">
    <h5 class="text-center"> <pre><B> SHRI RAM ENCLAVE NEAR RATHI INDUSTRIES PVT. LTD 
     LAL KUAN GHAZIABAD UTTAR PRADESH 201002. </B> <HR>      
    
    </pre> </h5>
    <h3 class="text-center"><u> OWNER DETAILS </u>: </h3>
    <h5 class="text-center"> <pre><B> ANKIT SINGH - 7011652022,9871293359
        LAL KUAN GHAZIABAD UTTAR PRADESH 201002.

    SOURABH SINGH SHAHI - 9910824611,7011439794
        LAL KUAN GHAZIABAD UTTAR PRADESH 201002.<HR>
</B> </pre> </h5>

    <h2 class="text-center"> <u> COACH DETAILS </u>: </h2>
    <h5 class="text-center"> <pre><B>KABBADI-COACH  = SOURAV SINGH
    MOBILE NO. =  9910824611
                               ADDRESS    =  LAL KUAN GHAZIABAD UTTAR PRADESH 201002. </B> 
    </pre> </h5>
</div>
<HR>

{% endblock body %}

